*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
    /* 원근감을 주는 역할 */
}

.flip-btn{
    width: 200px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    /* 요소의 height 값과 line-height 값이 같으면 수직 중앙 정렬이 된다.(단, 텍스트가 한 줄 일때만 가능) */
    transform-style: preserve-3d;
    /* 3D 공간에 배치해주는 역할 */
    transition: .5s;
    cursor: pointer;
}
.flip-btn:hover{
    transform: rotateX(-90deg);
}

.front{
    background-color: goldenrod;
    height: 100px;
    transform: translateZ(50px);
}

.back{
    background-color: darkgoldenrod;
    height: 100px;
    transform: rotateX(90deg) translateZ(150px);
}

